<?xml version="1.0"?>
<launch>
    <arg name="addr" default="" />
	<arg name="use_standard_msgs" default="true" />
	<arg name="autorepeat_rate" default="0" if="$(arg use_standard_msgs)" />


	<node pkg="ds4_driver" type="ds4_driver_node.py" name="ds4_driver" />
	<node pkg="robotcontrol" type="robotcontrol_node" name="robotcontrol"/>
	<node pkg="gpstransfer" type="gpstransfer_node" name="gpstransfer">
		<param name="gpstransfer/ublox_port" type="string" value="/dev/ttyACM0"/>
		<param name="gpstransfer/zigbee_port" type="string" value="/dev/ttyUSB1"/>
	</node>
	<node name="Drive" pkg="rosserial_python" type="serial_node.py">
		<param name="port" type="string" value="/dev/ttyUSB0"/>
		<param name="baud" type="int" value="57600"/>
	</node>
	<node pkg="mavmapper" type="mavmapper_node" name="mavmapper"/>
	<node pkg="lidarcontrol" type="lidarcontrol_node" name="lidarcontrol">
		<param name="lidarcontrol/validator_config" type="string" value="1.2 0.25 2.5 0.2 3.0 0.0"/>
		<param name="lidarcontrol/analyzer_config" type="string" value="2.25 1.0 1.0 3.5 1.0 1.0 0.0 2.0"/>
	</node>
	<include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" default="tcp://127.0.0.1:5679" />
	</include>
</launch>
